* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feff9f; /* Background set to FEFF9F */
}

.upload-container {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-form {
  width: 100%;
}

.form-title {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #72bf78; /* Button color */
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  margin-bottom: 1rem;
}

.file-label:hover {
  background-color: #a0d683; /* Button hover color */
}

input[type="file"] {
  display: none;
}

.file-button {
  font-size: 1.2rem;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #72bf78; /* Focus border color */
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  background-color: #d3ee98; /* Submit button color */
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #a0d683; /* Submit button hover color */
}

@media (max-width: 768px) {
  .upload-container {
    padding: 1.5rem;
    max-width: 90%;
  }

  .form-title {
    font-size: 1.5rem;
  }

  .file-button {
    font-size: 1rem;
  }
}
